<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"></head>
<body>
    <div class="container">
        <div class="message" th:if="${message != null}">
           [[${message}]]
        </div>
        <h2>Registration Form</h2>
      
    <form      
    	th:action="@{/register}"
         method="post"
         role="form"
         th:object="${user}"
     >
        <div class="row g-3">
            <div class="col-12">
            <label for="firstname" class="form-label">Firstname:</label>
                <input th:field="*{firstname}" type="text" class="form-control" id="firstname" name="firstname" placeholder="Enter your firstname" required>
             </div>
            <div class="col-12">
                  <label for="lastname" class="form-label">lastname:</label>
                <input th:field="*{lastname}" type="text" class="form-control" id="lastname" name="lastname" placeholder="Enter your lastname" required>
          </div>
            <div class="col-12">
               <label for="email" class="form-label">Email:</label>
                <input th:field="*{email}" type="email" id="email" class="form-control" name="email" placeholder="Enter your email" required>
             </div>
            <div class="col-12">
         <label for="password"  class="form-label">Password:</label>
                <input th:field="*{password}" type="password" class="form-control" id="password" name="password" placeholder="Enter your password" required>
                   </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </div>
    </form>
    <br>
        <p>You already have an account ?<a href="/login"> click here </a> </p>

      
      
    </div>
</body>
</html>
